     @font-face {
     font-family: 'Source Sans Pro', sans-serif;
     src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
     font-weight: normal;
     font-style: normal;

     }


     a, b, p{
        position:relative;
        color:black;
        font-size:15px;
        text-decoration: none;
     }

     body, .parentLayer {
        font-size: 15px;
        width: 1550px;
        height: 720px;
        margin: 0;
        padding: 0;
        color:black;
        background: #b4c8bb;
        display: flex;
        overflow: hidden;
     }

     .leftLayer, .middleLayer, .rightLayer{
        float:left;
     }

     .middleLayer, .rightLayer{
        left-padding:15px;
     }

     .leftLayer{
        width: 100px;
        height:720px;
        background-color:#f7f9fa;
        border-radius:5px;
    }
    .logo{
        position:absolute;
        top:35px;
        left:-10px;
        width:120px;
    }

    .menu_area{
        position : relative;
        width:100%;
        height:140px;
        top:300px;
        border: 3px solid #b4c8bb;
    }

    .home_area, .analysis_area, .predict_area, .phenocam_area {
        width: 100%;
        height:20px;
        padding-top:15px;
        border:1px, solid, black;
    }

    .home_area:hover, .analysis_area:hover, .predict_area:hover, .phenocam_area:hover {
        background-color:#b4c8bb;
    }

    .home_btn:hover, .analysis_btn:hover, .predict_btn:hover, .phenocam_btn:hover{
        background-color:#b4c8bb;
        color:black;
    }

    .home_img, .analysis_img, .predict_img, .phenocam_img{
        position: relative;
        left: 10%;
        bottom :10px;
    }

    .home_btn, .analysis_btn, .predict_btn, .phenocam_btn{
        position: relative;
        left: 50%;
        width:50px;
        font-size:15px;
        bottom:50px;
        ms-user-select: none;
        moz-user-select: -moz-none;
        khtml-user-select: none;
        webkit-user-select: none;
        user-select: none;
    }

    .ver{
        left:10px;
        top:580px;
    }

     .middleLayer{
        position: absolute;
        width: 1160px;
        height: 720px;
        left: 120px;
        top: 0px;
        background-color: #b4c8bb;
    }

    .ImgLayer{
        position: absolute;
        width: 1000px;
        height: 400px;
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px gray;
    }

    .graphLayer{
        position: absolute;
        width: 700px;
        height: 310px;
        top: 410px;
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px gray;
    }
    .ROISetting{
        position: absolute;
        width: 280px;
        height: 310px;
        left: 720px;
        top: 410px;
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px gray;
    }

    #send_img{
        position: absolute;
        top:40%;
    }

    #csvDownloadButton{
        position:relative;
        top: 80%;
        left: 140px;
        font-family:'Source Sans Pro';
        font-size: 12px;
        color:black;
        background:white;
        border-color:gray;
    }

    .DOY_table{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 60px;
        top: 300px;
        box-sizing: border-box;
        background: white;
        border: solid 2px #b4c8bb;
        border-radius: 5px;
        resize: none;
        overflow: auto;
        font-size: 10px;
        color:black;
    }

    #chart-1{
        position: absolute;
        top: 0px;
    }

    .settingLayer{
        position: absolute;
        width: 380px;
        height: 720px;
        left: 1020px;
        background: white;
        border-radius: 5px;
        box-shadow: 2px 2px 2px gray;
    }


     .settingTitle{
        position: absolute;
        left:180px;
        top: 5px;
        font-size: 15px;
    }

     .curve_fittingTitle{
        position: absolute;
        left: 45px;
        top: 80px;
        font-size: 15px;

    }
    .curve_fit{
        position: absolute;
        left: 40px;
        top: 120px;
        width:120px;
        height:25px;
        border-radius: 5px;
        font-size:13px;
        color:black;
        background-color:white;
        border-color:#b4c8bb;
    }

    .thresholdTitle{
        position: absolute;
        left: 245px;
        top: 80px;
        font-size:15px;
    }

    .threshold{
        position: absolute;
        left: 225px;
        top: 120px;
        width:120px;
        height: 25px;
        font-size:15px;
        color:black;
        background-color:white;
        border-radius: 5px;
        border-color:#b4c8bb;
        border:1px, solid, #b4c8bb;
    }

    .graphShape{
        position: absolute;
        left: 100px;
        top: 180px;
        width:130px;
        height:70px;
        border-radius: 5px;
        border-color:white;
        font-size: 15px;
        box-shadow: 2px 2px 2px #b4c8bb;

    }


