
    a, b, p{
        position:relative;
        color:black;
        font-size:15px;
        text-decoration: none;
    }

    body, .parentLayer {
        width: 1550px;
        height: 720px;
        margin: 0;
        padding: 0;
        font-size: 15px;
        color:black;
        background: #b4c8bb;
        display: flex;
        overflow: hidden;
    }

    .leftLayer, .middleLayer, .rightLayer{
        float:left;
    }

    .middleLayer, .rightLayer{
        left-padding:15px;
    }

    .page_title{
        position: relative;
        font-size:40px;
        color:black;
        left: 20px;
        top: 5px;

    }

    .map{
        position:relative;
        left:10px;
        width: 1000px;
        overflow:hidden;
    }

    .leftLayer{
        width: 100px;
        height:720px;
        background-color:#f7f9fa;
        border-radius:5px;
    }

    .logo{
        position:absolute;
        top:35px;
        left:-10px;
        width:120px;
    }

    .menu_area{
        position : relative;
        width:100%;
        height:140px;
        top:300px;
        border: 3px solid #b4c8bb;
    }

    .home_area, .analysis_area, .predict_area, .phenocam_area {
        width: 100%;
        height:20px;
        padding-top:15px;
        border:1px, solid, black;
    }

    .home_area:hover, .analysis_area:hover, .predict_area:hover, .phenocam_area:hover {
        background-color:#b4c8bb;
    }
    .home_btn:hover, .analysis_btn:hover, .predict_btn:hover, .phenocam_btn:hover{
        background-color:#b4c8bb;
        color:black;
    }

    .home_img, .analysis_img, .predict_img, .phenocam_img{
        position: relative;
        left: 10%;
        bottom :10px;
    }
    .home_btn, .analysis_btn, .predict_btn, .phenocam_btn{
        position: relative;
        left: 50%;
        width:50px;
        font-size:15px;
        bottom:50px;
        ms-user-select: none;
        moz-user-select: -moz-none;
        khtml-user-select: none;
        webkit-user-select: none;
        user-select: none;
    }
    .ver{
        left:10px;
        top:580px;
    }

    .middleLayer{
        width: 990px;
        height: 720px;
        left: 120px;
        top: 0px;
        background-color: #b4c8bb;
    }

    .background {
        width: 965px;
        height: 365px;
        margin-bottom: 10px;
        margin-left:10px;
        background:white;
        border-radius:5px;
        box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
        text-align:center;
    }

    #chart-1 {
        position:absolute;
        left:120px;
    }

    .set1, .set2{
        position:relative;
        display:flex;
        padding-bottom:20px;
        height:100px;
    }
    .set2{
        margin-left:100px;
    }

    .box, .timebox, .graphShape{
        margin-top:10px;
        border: 3px solid #b4c8bb;
        border-radius: 5px;
        box-shadow: 2px 2px 2px gray;
    }


    .box{
        margin-left:38px;
        width:200px;
    }

    .timebox{
        width:400px;
        height:85px;
        margin-left:30px;
    }

    .selectbar{
        border-radius: 4px;
        color:black;
        background-color:white;
        border-color:black;
        width:150px;
        height:20px;
    }

    .graphShape{
        position:relative;
        left:40px;
        width:150px;
        height:70px;
    }

    label{
        font-size:10px;
    }

    .submit_btn{
        width:200px;
        height:50px;
        font-size:30px;
    }

    .submit_btn:hover{
        background-color: #b4c8bb;
        color: white;
    }

    .rightLayer{
       width: 440px;
       height: 740px;
    }

    .background2 {
        text-align : center;
        width: 410px;
        height: 550px;
        background: white;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 1px 1px 1px gray;
    }

    .DOY{
        position:relative;
        width: 340px;
        height: 400px;
        left:30px;
        top:30px;
        padding:5px;
        font-family: 'Source Sans Pro';
        font-size: 5px;
        color:black;
        overflow:scroll;
    }

    #csvDownloadButton{
        position:relative;
        top: 20px;
        left: 100px;
        font-family:'Source Sans Pro';
        font-size: 12px;
        color:black;
        background:white;
        border-color:gray;
    }

    table {
        font-size: 9pt;
        background : #white;
        border-color: white;
        font-family:'Source Sans Pro';
    }

    .data_img{
        position:absolute;
        width : 250px;
        left:1190px;
        top: 510px;
    }


