<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>국립공원공단 레인저스</title>
    <link rel="stylesheet" type="text/css" href="{% static 'map/final_css.css' %}">
</head>
<body>
    <div style="display: inline-block; background: yellow">
        <div class="leftLayer">

        </div>
        <div class="middleLayer">
            <div id="map">
                {{map | safe}}
            </div>
        </div>
    </div>
</body>
</html>