<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'map/icon/파랑해녀반달.png'%}">
    <link rel="stylesheet" href="{%static 'map/phenocam_css.css'%}">
    <title>국립공원공단 페노다임</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("select[name=knps]").val("{{ knps }}");
            $("select[name=class_num]").val("{{ class_num }}");
            $("select[name=curve_fit]").val("{{ curve_fit }}");
            $("input[name=threshold]").val("{{ threshold }}");
            $("#shape" + "{{ shape }}").prop("checked", true);
        });
    </script>
    <script type="text/javascript" src="{% static 'map/js/fusioncharts.js' %}"></script>
</head>
<body onload="init()">
    <div class="parentLayer">
        <div class="leftLayer">
          <img class="logo" src="{%static 'map/로고3.png'%}" alt="My Image">
          <div class="menu_area">
            <div class="home_area" onclick="location.href='/';">
                <img class="home_img" src="{%static 'map/home.png'%}" alt="My Image" width="30">
                <a class="home_btn" href="/">홈</a>
            </div>

            <div class="analysis_area" onclick="location.href='/analysis/?knps=jiri&start_year=2003&end_year=2003&class_num=0&curve_fit=1&threshold=0.4&shape=1&AorP=A';">
                <img class="analysis_img" src="{%static 'map/analysis.png'%}" alt="My Image" width="28">
                <a class="analysis_btn" href="/analysis/?knps=jiri&start_year=2003&end_year=2003&class_num=0&curve_fit=1&threshold=0.4&shape=1&AorP=A" style="color:black">분석</a>
            </div>

            <div class="predict_area" onclick="location.href='/predict/?knps=jiri&start_year=2022&end_year=2022&class_num=0&curve_fit=1&threshold=0.4&shape=1&AorP=P';">
                <img class="predict_img" src="{%static 'map/pred.png'%}" alt="My Image" width="30">
                <a class="predict_btn" href="/predict/?knps=jiri&start_year=2022&end_year=2022&class_num=0&curve_fit=1&threshold=0.4&shape=1&AorP=P">예측</a>
            </div>

            <div class="phenocam_area" onclick="location.href='/phenocam/?curve_fit=1&shape=1';" style="background-color:#b4c8bb; border-radius: 1px;">
                <img class="phenocam_img" src="{%static 'map/camera.png'%}" alt="My Image" width="30">
                <a class="phenocam_btn" href="/phenocam/">카메라</a>
            </div>
            <img class="ver" src="{%static 'map/ver.png'%}" alt="My Image" width="100">
      </div>
      </div>
        <div class="middleLayer">
            <div class="ImgLayer">
                <canvas id="canvas_mask"></canvas>
                <script>
                    // 초기화
                    function init() {
                        let position = [] // 현재 좌표들 저장
                        let canvas = document.getElementById("canvas_mask");
                        let context = canvas.getContext("2d");

                        // 클릭 이벤트 리스너 설정
                        canvas.addEventListener("click", function (event) {
                            var rect = canvas.getBoundingClientRect(); // canvas 바운더리 가져오기
                            var x = event.clientX - rect.left;
                            var y = event.clientY - rect.top;
                            position.push([x, y]) // canvas 기준 좌표 (x, y) 저장

                            context.beginPath() // path 열기
                            context.arc(x, y, 3, 0, 2 * 3.14) // 원 그리기: (x, y, 반지름, 시작각도, 끝각도)
                            context.fillStyle = '#fff' // 칠할 색깔
                            context.fill() // 칠하기
                            context.closePath() // path 닫기
                        });

                        // 키보드 눌림 이벤트 리스너
                        window.addEventListener("keydown", function (event) {
                            if (event.keyCode == 83) { // 's' 눌리면
                                context.beginPath() // path 열기
                                context.moveTo(position[0][0], position[0][1]) // 도형 그릴 시작점 정하기
                                // 다른 점들을 선으로 연결
                                for (var i = 1; i < position.length; i++) {
                                    context.lineTo(position[i][0], position[i][1])
                                }
                                context.fillStyle = '#fff' // 칠할 색깔
                                context.fill() // 칠하기
                                context.closePath() // path 닫기
                            }
                        });
                        // 키보드 손 뗌 이벤트 리스너
                        window.addEventListener("keyup", function (event) {
                            if (event.keyCode == 83) { // 's' 떼이면
                                position = [] // 좌표 정보 초기화
                            }
                        });
                    }
                </script>
            </div>
            <div class="graphLayer">
                <div id="chart-1" style="z-index: 8">
                    {{ graph | safe }}
                </div>
            </div>
            <div class="ROISetting">
                <p>마스크 다운로드 및 설정</p>
                <button><a id="download_btn" href="" download="img_mask.png" style="">다운로드</a></button>
                <script>
                    var canvas = document.getElementById('canvas_mask')

                    document.getElementById('download_btn').addEventListener('click', event =>
                        event.target.href = canvas.toDataURL()
                    );
                </script>
                <input type="file" id="img_mask" name="img_mask" accept="image/*" form="send_img"></input>
                <hr>
                <div class="img_list"></div>
                <form id="send_img" method="post" enctype="multipart/form-data">분석파일 업로드
                    {% csrf_token %}
                    <input type="file" id="imgs" name="imgs" accept="image/*"
                           webkitdirectory mozdirectory msdirectory odirectory directory multiple/>
                    <button type="submit">분석</button>
                    <hr>
                    <script>
                        // 이미지 불러오기
                        function readImage(file) {
                            // 이미지 파일 여부 확인하기
                            if (file.type && !file.type.startsWith('image/')) {
                                console.log('File is not an image.', file.type, file);
                                return;
                            }

                            const reader = new FileReader(); // 파일 렌더링 객체

                            // load 됐을 때 실행할 이벤트 리스너
                            reader.addEventListener('load', (event) => {
                                const canvas = document.getElementById('canvas_mask');
                                const ctx = canvas.getContext('2d');
                                const img = new Image(); // 이미지 파일 설정
                                img.src = event.target.result;

                                img.onload = function () {
                                    canvas.width = img.width * 0.15;
                                    canvas.height = img.height * 0.1;
                                    ctx.drawImage(img, 0, 0, img.width, img.height, 0, 0, canvas.width, canvas.height); // 캔버스에 이미지 그리기
                                }
                            });

                            reader.readAsDataURL(file); // file을 DataURL로 읽기
                        }

                        const fileSelector = document.getElementById('imgs');
                        fileSelector.addEventListener('change', (event) => {
                            const fileList = event.target.files;
                            console.log(fileList);
                            console.log(fileList[0]);
                            readImage(fileList[0])
                        });
                    </script>
                    <em style="font-size:20px">마우스로 ROI를 지정하고<br>
                    S를 눌러 확정해 주세요!!</em>
                </form>
            </div>
            <div class="settingLayer">
                <button id="csvDownloadButton">CSV로 내보내기</button>
                <table class="DOY_table">
                </table>
                <b class="settingTitle">설정</b>
                <form method="get" action="/phenocam/" id="optionForm">
                    <br><b class="curve_fittingTitle">curve_fitting</b>
                    <select class="curve_fit" name="curve_fit">
                        <option value="1" selected>다중 로지스틱 함수</option>
                        <option value="3">Savitzly-Golay</option>
                        <option value="4">가우시안</option>
                    </select>
                    <b class="thresholdTitle">임계치(%)</b>
                    <select class="threshold" name="threshold">
                        <option value="0.4">40%</option>
                        <option value="0.5">50%</option>
                    </select>

                    <fieldset class="graphShape">
                        <b>그래프 모양</b>
                        <div>
                            <input type="radio" id="shape1" name="shape" value="1" checked>
                            <label for="shape1">연속</label>
                        </div>
                        <div>
                            <input type="radio" id="shape2" name="shape" value="2">
                            <label for="shape2">연도</label>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
      class ToCSV {
          constructor() {
          // CSV 버튼에 이벤트 등록
          document.querySelector('#csvDownloadButton').addEventListener('click', e => {

              e.preventDefault()
              this.getCSV("{{knps}}"+ "_" + {{class_num}} + "_" + {{start_year}} + "_" + {{end_year}} +"_"+ "DOY" +  ".csv")
          })
      }

      downloadCSV(csv, filename) {
          let csvFile;
          let downloadLink;

          const BOM = "\uFEFF";
          csv = BOM + csv

          // CSV 파일을 위한 Blob 만들기
          csvFile = new Blob([csv], {type: "text/csv"})

          // Download link를 위한 a 엘리먼스 생성
          downloadLink = document.createElement("a")

          // 다운받을 csv 파일 이름 지정하기
          downloadLink.download = filename;

          // 위에서 만든 blob과 링크를 연결
          downloadLink.href = window.URL.createObjectURL(csvFile)

          // 링크가 눈에 보일 필요는 없으니 숨겨줍시다.
          downloadLink.style.display = "none"

          // HTML 가장 아래 부분에 링크를 붙여줍시다.
          document.body.appendChild(downloadLink)

          // 클릭 이벤트를 발생시켜 실제로 브라우저가 '다운로드'하도록 만들어줍시다.
          downloadLink.click()
      }

      getCSV(filename) {
          // csv를 담기 위한 빈 Array를 만듭시다.
          const csv = []
          const rows = document.querySelectorAll("#mytable tr")

          for (let i = 0; i < rows.length; i++) {
              const row = [], cols = rows[i].querySelectorAll("td, th")

              for (let j = 0; j < cols.length; j++)
                  row.push(cols[j].innerText)

              csv.push(row.join(","))
          }

          // Download CSV
          this.downloadCSV(csv.join("\n"), filename)
      }
  }

  document.addEventListener('DOMContentLoaded', e => {
      new ToCSV()
  })
  </script>
</html>
