<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'map/icon/파랑해녀반달.png'%}">
    <link rel="stylesheet" href="{%static 'map/total_css.css'%}">
    <title>국립공원공단 레인저스</title>
</head>
<body>
    <div class="parentLayer">
        <div class="leftLayer">
            <img class="logo" src="{%static 'map/로고3.png'%}" alt="My Image" style="position:absolute; left:-15px; top:20px; width:250px">
            <div class="home_area">
                <img class="home_img" src="{%static 'map/home.png'%}" alt="My Image" width="50">
                <a class="home_btn" href="/">홈</a>
            </div>

            <div class="analysis_area">
                <img class="analysis_img" src="{%static 'map/analysis.png'%}" alt="My Image" width="50">
                <a class="analysis_btn" href="/analysis/?start_year=2003&end_year=2003&class_num=0&curve_fit=1&shape=1">분석</a>
            </div>

            <div class="predict_area" style="background-color:#f2f2eb; border-radius: 26px;">
                <img class="predict_img" src="{%static 'map/pred.png'%}" alt="My Image" width="50">
                <a class="predict_btn" href="/predict/" style="color:black">예측</a>
            </div>

            <div class="phenocam_area">
                <img class="phenocam_img" src="{%static 'map/camera.png'%}" alt="My Image" width="50">
                <a class="phenocam_btn" href="/phenocam">카메라</a>
            </div>
            <p class="ver">
                Phenodigm<br>
                ver 1.0.0
            </p>
        </div>
        <div class="middleLayer">
            <img class="love_img" src="{%static 'map/icon/기웃반달.png'%}" alt="My Image" style="position:absolute; left:1190px; top:550px; width:500px">
            <div class="graphLayer">
                <div id="chart-1">
                    {{ graph | safe }}
                </div>
            </div>

            <div class="DOYLayer">
                <b class="DOY_Title">개엽일</b>
            </div>

            <div class="settingLayer">
                <div class="settingTitle">
                    <b>그래프 설정</b>
                </div>
                <form method="get" action="/analysis/" id="optionForm">
                    <div>
                        <b class="mountainTitle">국립공원</b>
                    </div>
                    <select class="mountainBar" name="mountain">
                        <option value="" selected></option>
                        <option value="gaya">가야산</option> <option value="gyeongju">경주</option>
                        <option value="gyeryong">계룡산</option> <option value="naejang">내장산</option>
                        <option value="dadohae">다도해상</option> <option value="deogyu">덕유산</option>
                        <option value="mudeung">무등산</option> <option value="byeonsan">변산반도</option>
                        <option value="bukhan">북한산</option> <option value="seorak">설악산</option>
                        <option value="sobaek">소백산</option> <option value="songni">속리산</option>
                        <option value="odae">오대산</option> <option value="worak">월악산</option>
                        <option value="wolchul">월출산</option> <option value="halla">한라산</option>
                        <option value="juwang">주왕산</option> <option value="jiri">지리산</option>
                        <option value="chiak">치악산</option> <option value="taebaek">태백산</option>
                        <option value="taean">태안해안</option> <option value="hallyeo">한려해상</option>
                    </select>
                    <b class="startTitle">기간</b>
                    <select class="start_year" name="start_year">
                        <option value="2003">2003</option> <option value="2004">2004</option> <option value="2005">2005</option>
                        <option value="2006">2006</option> <option value="2007">2007</option> <option value="2008">2008</option>
                        <option value="2009">2009</option> <option value="2010">2010</option> <option value="2011">2011</option>
                        <option value="2012">2012</option> <option value="2013">2013</option> <option value="2014">2014</option>
                        <option value="2015">2015</option> <option value="2016">2016</option> <option value="2017">2017</option>
                        <option value="2018">2018</option> <option value="2019">2019</option> <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                    <b class="endTitle">~</b>
                    <select class="end_year" name="end_year">
                        <option value="2003">2003</option> <option value="2004">2004</option> <option value="2005">2005</option>
                        <option value="2006">2006</option> <option value="2007">2007</option> <option value="2008">2008</option>
                        <option value="2009">2009</option> <option value="2010">2010</option> <option value="2011">2011</option>
                        <option value="2012">2012</option> <option value="2013">2013</option> <option value="2014">2014</option>
                        <option value="2015">2015</option> <option value="2016">2016</option> <option value="2017">2017</option>
                        <option value="2018">2018</option> <option value="2019">2019</option> <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                    <b class="classTitle">산림종류</b>
                    <select class="class_num" name="class_num">
                        <option value="0">0. 초지</option> <option value="1">1. 침엽수림</option>
                        <option value="2">2. 활엽수림</option> <option value="3">3. 혼효림</option>
                    </select>
                    <br><b class="curve_fittingTitle">curve_fitting</b>
                    <select class="curve_fit" name="curve_fit">
                        <option value="1" selected>다중 로지스틱 함수</option> <option value="2">푸리에 변환</option>
                        <option value="3">Savitzly-Golay</option> <option value="4">가우시안</option>
                    </select>
                    <b class="thresholdTitle">임계치(%)</b>
                    <input class="threshold" type="number" name="threshold">
                </form>
                <button class="submit_btn" type="submit" form="optionForm">예측</button>
                </div>

        </div>
    </div>
</body>
</html>